.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    height: 460px;
    margin: auto;
    background: linear-gradient(to right, #000000, gray);
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-family: helvetica;
    color:#fff
}

h3 {
    font-family: arial;
    text-align: center;
    color:#fff
}

form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    width: 300px;
    height: 26px;
    align-items: center;
    margin: 8px auto;
    border-radius: 10px;
}

input {
    text-align: center;
    font-family: Helvetica;
    -moz-appearance: textfield;
    font-size: 18px;
    width: 300px;
    height: 26px;
    align-items: center;
    margin: 8px auto;
    border-radius: 10px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-family: Helvetica;
    font-size: 18px;
    width: 305px;
    margin: 10px auto;
    height: 36px;
    border-radius: 10px;
    transition: 0.2s;
}

button:hover {
    background-color: #030303;
    color: #fff;
}

.tudoCerto {
    text-align: center;
    background-color: #226b40;
    padding: 16px;
    color: #fff;
    margin: 10px auto;
    width: 400px;
    display: none;
    border: black solid 3px;
    border-radius: 10px
}

.numInvalido {
    text-align: center;
    background-color: #c22828;
    padding: 16px;
    color: #fff;
    margin: 10px auto;
    width: 400px;
    display: none;
    border: black solid 3px;
    border-radius: 10px
}

p {
    font-family: Helvetica;
}